.form-card{
    border:2px solid black;
    padding:30px;
    
}
button{
    background-color: #F9A51A;
    border-radius:10px;
    border:2px solid #F9A51A;
    margin-top:10px;
    padding:5px;
}
.login-form{
    border:1px solid black;
    padding:50px;
    border-radius:10px;
}

.toggle{
    color:blue;
    text-decoration:underline;
    cursor: pointer;
}
